body {
  background-color: rgb(133, 51, 51);
}

h1 {
  color: goldenrod;
  text-align: center;
}

h3 {
  color: white;
  text-align: center;
}

.btn-group button {
  background-color: rgb(133, 51, 51); 
  border: 5px solid rgb(255, 201, 201); 
  color: white; 
  border-radius: 50%;   
  padding: 25px 25px; 
  font-size: 20px;
  margin: 2%; 
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  
}


/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: rgb(237, 116, 116);
}

p {
  font-family: Georgia;
  padding: 20px; 
  font-size: 20px;
  background-color: rgb(237, 116, 116);
}

p {
  border-radius:1px; 
  border-style: solid; 
  border-color: rgb(133, 51, 51);
  border-width: 50%; 
}
p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%; 
  margin-right: 5%; 
}

img {
  display: block;
  border-width: 50px;
  border-radius: 5px;
  width: 90%;
  margin: auto;
}

