body {
  background-color: rgb(133, 51, 51);
}

h1 {
  color: goldenrod;
  text-align: center;
}

h3 {
  color: black;
  text-align: center;
}


a:link, a:visited {
  background-color: rgb(133, 51, 51);
  color: white;
   font-family: Georgia;
  padding: 14px 25px;
  margin-left: 10%;
  margin-right: 10%; 
  text-align: center;
  text-decoration: none;
  display: block;
}

a:hover, a:active {
  background-color: rgb(214, 144, 144);
}

p {
  font-family: Georgia;
  padding: 20px; 
  font-size: 20px;
  background-color: rgb(237, 116, 116);
}

p {
  border-radius:1px; 
  border-style: solid; 
  border-color: rgb(133, 51, 51);
  border-width: 50%; 
}
p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 150px;
  margin-left: 150px;
}